<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../script/dist/classes.js" defer></script>
    <script src="../script/dist/index.js" defer></script>
    <script src="../script/dist/turns.js" defer></script>
    <script src="../script/dist/pokerSets.js" defer></script>
    <script src="../script/dist/win.js" defer></script>

    <link rel="stylesheet" href="../css/dist/style.css" />
    <link rel="stylesheet" href="../css/dist/winPage.css" />
    <link rel="icon" type="image/png" href="../images/cards.png" />

    <title>Texas Holdem - unstoppable game</title>
  </head>
  <body onload="renderPage()">

    <div class="winWrapper">
      <div class="winPlayerDiv">
       
      </div>
      <div class="otherPlayersHandCards"></div>
    </div>
  </body>
</html>
