<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Texas Holdem - unstoppable game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/dist/enterPage.css" />

    <link rel="icon" type="image/png" href="../images/cards.png" />

  </head>
  <body>

    <div class="wrapper">
        
        <img
          class="backgroundImg"
          alt=""
          src="https://cdn.pixabay.com/photo/2016/03/17/23/09/poker-1264076_1280.jpg" />
    
        <h1 class="header">texas holdem club</h1>
        <h3>-- unstoppable game --</h3>
        <a href="./index.html" style="text-decoration: none;">start game here</a>

    </div>


</body>
</html>
